{% extends 'company/company_base.html' %}
{% load static %}

{% block title_block %}
    Products
{% endblock %}

{% block body_block %}

    <style>
        #product_table_inner{
            max-height: 400px;
            overflow: hidden; 
            padding: 5px; 
            margin-bottom: 10px;
        }

        #product_table_inner:hover {
            overflow-y: scroll;
        }
    </style>
    

    <div class="container">
        {% if company_products %}
            <div id="product_table">
                <div id="product_table_inner" style="max-width: 100%; overflow-x: auto; max-height: 500px; overflow-y: auto;">
                    <h1 
                        style="display: block; 
                        text-align: center;                     
                        padding: 5px;  ">
                        Product List
                    </h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Name</th>
                                <th>Distributor price</th>
                                <th>MRP</th>
                                <th>Tax (in %)</th>
                                <th>Discount</th>
                                <th>HSN Code</th>                
                                <th>FSSAI Number</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for product in company_products %}
                                <tr>
                                    <td scope="row">{{forloop.counter}}</td>
                                    <td>
                                        <a href="{% url 'company:company_product_detail' company_name=company_name product_id=product.id %}">
                                            {{product.product_name}}
                                        </a>
                                    </td>
                                    <td>{{product.product_distributor_price}}</td>
                                    <td>{{product.product_mrp}}</td>
                                    <td>{{product.total_tax}}</td>
                                    <td>{{product.product_discount}}</td>
                                    <td>{{product.hsn_code}}</td>
                                    <td>{{product.fssai_number}}</td>
                                    <td>
                                        <a href="{% url 'company:company_product_remove' company_name=company_name product_id=product.id %}">
                                            REMOVE
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-primary btn-lg" id="btn_add_product" onclick="add_product();">Add product</button>
            </div>
        {% else %}
            <div id="product_table">
                <div class="jumbotron">
                    <h1 class="text-danger">You do not have any products.</h1>
                    <hr class="my-2">
                    <p class="lead">Click on add product to create your catalog</p>                                                            
                </div>
                <button class="btn btn-primary btn-lg" id="btn_add_product" onclick="add_product();">Add product</button>
            </div>       
    `   {% endif %}

        

        <div id="form-div" style="display: none;">

            <form id="form-add-product" method="POST" 
                action="{% url 'company:company_product_list' company_name=company_name %}"
                onsubmit="event.preventDefault(); submit_form();"
            >
  
                {% csrf_token %}
                <p class="lead">Enter the product details</p>

                <div class="form-group">
                    <label for="product_name">Product name</label>
                    <input type="text" name="product_name" required="required" id="product_name" class="form-control" placeholder="Product name">              
                </div>

                <div class="form-group">
                    <label for="product_distributor_price">Product distributor price</label>
                    <input type="number" min="0" step="any" name="product_distributor_price" class="form-control" required="required" id="product_distributor_price" placeholder="Distributor price">              
                </div>

                <div class="form-group">
                    <label for="product_distributor_margin">Product distributor margin (in %)</label>
                    <input type="number" min="0" max="100" step="any" name="product_distributor_margin" required="required" id="product_distributor_margin" class="form-control" placeholder="Product distributor margin">              
                </div>

                <div class="form-group">
                    <label for="product_retailer_price">Product Retailer Price</label>
                    <input type="number" min="0" step="any" name="product_retailer_price" required="required" id="product_retailer_price" class="form-control" placeholder="Product Retailer price">              
                </div>

                <div class="form-group">
                    <label for="product_retailer_margin">Product Retailer Margin (in %)</label>
                    <input type="number" min="0" max="100" step="any" name="product_retailer_margin" required="required" id="product_retailer_margin" class="form-control" placeholder="Product Retailer margin">              
                </div>

                <div class="form-group">
                    <label for="product_mrp">Product MRP</label>
                    <input type="number" min="0" step="any" name="product_mrp" required="required" id="product_mrp" class="form-control" placeholder="Product MRP">              
                </div>                

                <div class="form-group">
                    <label for="product_discount">Product Discount</label>
                    <input type="number" min="0" step="any" name="product_discount" required="required" id="product_discount" class="form-control" placeholder="Product Discount">              
                </div> 

                <div class="form-group">
                    <label for="cg_gst">Central GST Tax</label>
                    <input type="number" min="0" max="100" step="any" name="cg_gst" required="required" id="cg_gst" class="form-control" placeholder="Central GST Tax">              
                </div> 

                <div class="form-group">
                    <label for="sg_gst">State GST Tax</label>
                    <input type="number" min="0" max="100" step="any" name="sg_gst" required="required" id="sg_gst" class="form-control" placeholder="State GST Tax">              
                </div> 

                <div class="form-group">
                    <label for="hsn_code">HSN code</label>
                    <input type="text" name="hsn_code" required="required" id="hsn_code" class="form-control" placeholder="HSN code">              
                </div> 

                <div class="form-group">
                    <label for="fssai_number">FSSAI number</label>
                    <input type="text" name="fssai_number" id="fssai_number" class="form-control" placeholder="FSSAI number">              
                </div> 
                
                
                <button type="button" onclick="close_add_product_form();" class="btn btn-lg btn-danger m-2">CANCEL</button>
                <button type="submit" class="btn btn-lg btn-success">Add product</button>
            </form>
            
        </div>
    </div>

    <script>
        function add_product()
        {
            $("#product_table").fadeOut(100);
            var add_product_form = document.getElementById("form-div");
            add_product_form.style.display="block";
            
        }

        function close_add_product_form()
        {
            var add_product_form = document.getElementById("form-div");
            add_product_form.style.display="none";
            $("#product_table").fadeIn(100);
        }

        function submit_form()
        {
            document.getElementById('form-add-product').submit();
        }
        
    </script>

{% endblock %}