{% extends 'receipt/receipt_base.html'%}
{% load static %}

{% block title_block %}
    Receipt detail
{% endblock %}

{% block body_block %}


    <link rel="stylesheet" href="{% static 'css/receipt/receipt_detail.css' %}">
    <div class="container">
        <div id="receipt_detail">

            <h1 style="text-align: center;"> Receipt details</h1>

            <div class="receipt_info">
                <p>From: abc </p>
                <p>To: Rajesh</p>
                <p>Tax: &#8377 2</p>
                <p>Subtotal: &#8377 20</p>
                <p>Amount: &#8377 22</p>
            </div>

            <div id="receipt_product_list" class="mt-3">

                <table class="table mt-3">
                    <thead class="receipt_product_list_header">
                        <tr class="bg-primary">
                            <th>No.</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Tax</th>
                            <th>Dicount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody class="receipt_product_list_body">
                        <tr>
                            <td scope="row">1.</td>
                            <td>463746</td>
                            <td>Tomato chips</td>
                            <td>&#8377 2</td>
                            <td>&#8377 20</td>
                            <td>&#8377 2</td>
                            <td>&#8377 0</td>
                            <td class="non-defective">
                                <i class="fa fa-check non-defective" aria-hidden="true"></i> Accepted
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">1.</td>
                            <td>463746</td>
                            <td>Tomato chips</td>
                            <td>&#8377 2</td>
                            <td>&#8377 20</td>
                            <td>&#8377 2</td>
                            <td>&#8377 0</td>                            
                            <td class="defective">
                                <i class="fa fa-times defective" aria-hidden="true"></i> Defective
                            </td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>

        </div>
    </div>

{% endblock %}