{% extends 'receipt/receipt_base.html' %}
{% load static %}

{% block title_block %}
Process receipts
{% endblock %}

{% block body_block %}
<div class="container my-5" >
    <form method="POST" enctype="multipart/form-data" action="{% url 'receipt:process_receipt' %}">
        {% csrf_token %}
        <h2>Upload Invoice</h2>
        <div class="form-group">
            <label for="myfile">Select a file:</label>
            <input type="file" id="myfile" name='file1'>
        </div>
        <h2>Upload Template</h2>
        <div class="form-group">
            <label for="myfile">Select a file:</label>
            <input type="file" id="myfile" name='file2'>
        </div>
        <br>
        <input type='submit' class="btn btn-success">
    </form>
    </div>
</div>
{% endblock %}

