{% extends 'receipt/receipt_base.html'%}
{% load static %}

{% block title_block %}
    Receipt detail
{% endblock %}

{% block body_block %}


    <div class="container">
        <div id="receipt_detail" class="m-5 p-5">

            <h1 style="text-align: center;"> Receipt details</h1>

            <p>From: abc </p>
            <p>To: Rajesh</p>
            <p>Tax: 2</p>
            <p>Subtotal: 20</p>
            <p>Amount: 22</p>

            <div id="receipt_product_list" class="mt-3">

                <table class="table mt-3">
                    <thead>
                        <tr class="bg-warning">
                            <th>Product No.</th>
                            <th>Product ID</th>
                            <th>Product name</th>
                            <th>Product quantity</th>
                            <th>Product price</th>
                            <th>Product tax</th>
                            <th>Product dicount</th>
                            <th>Product defective</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">1.</td>
                            <td>463746</td>
                            <td>Tomato chips</td>
                            <td>2</td>
                            <td>20</td>
                            <td>2</td>
                            <td>0</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>

{% endblock %}