{% extends 'receipt/receipt_base.html'%}
{% load static %}

{% block title_block %}
    Product detail
{% endblock %}

{% block body_block %}

    <div class="container">

        <div id="product_detail" class="m-5 p-3">
            <h1 style="text-align: center;">Product detail</h1>
            <p>Product receipt: </p>
            <p>Product name: </p>
            <p>Product company: </p>
            <p>Product distributor: </p>            
            <p>Product price: </p>
            <p>Product tax: </p>
            <p>Product discount: </p>
            <p>Product defective: </p>
        </div>

    </div>


{% endblock %}