{% extends 'company/company_base.html' %}
{% load static %}

{% block title_block %}
    Products
{% endblock %}

{% block body_block %}

    <div class="container m-5">
        <div id="product_table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Product name</th>
                        <th>Product price</th>
                        <th>Product tax</th>
                        <th>Product discount</th>                
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>XYZ</td>
                        <td>20</td>
                        <td>2</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td scope="row">1</td>
                        <td>ABC</td>
                        <td>30</td>
                        <td>2</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>        

            <button class="btn btn-primary btn-lg" id="btn_add_product" onclick="add_product();">Add product</button>

        </div>

        <form style="display: none;" id="form-add-product" method="POST">

            {% csrf_token %}
            <p class="lead">Enter the product details</p>

            <div class="form-group">
              <label for="product name">Product name</label>
              <input type="text" name="product name" id="product name" class="form-control" placeholder="Product name">              
            </div>

            <div class="form-group">
                <label for="product price">Product distributor price</label>
                <input type="text" name="product distributor price" id="product distributor price" class="form-control" placeholder="Product distributor price">              
            </div>

            <div class="form-group">
                <label for="product price">Product MRP</label>
                <input type="text" name="product MRP" id="product MRP" class="form-control" placeholder="Product MRP">              
            </div>

            <div class="form-group">
                <label for="product tax">Product tax</label>
                <input type="text" name="product tax" id="product tax" class="form-control" placeholder="Product tax">              
            </div>

            <div class="form-group">
                <label for="product discount">Product discount</label>
                <input type="text" name="product discount" id="product discount" class="form-control" placeholder="Product discount">              
            </div>

            <button type="submit" class="btn btn-lg btn-success">ADD PRODUCT</button>
            <button onclick="close_add_product_form();" class="btn btn-lg btn-danger">CANCEL</button>
        </form>

    </div>

    <script>
        function add_product()
        {
            var add_product_form = document.getElementById("form-add-product");
            add_product_form.style.display="block";
            $("#product_table").fadeOut(100);
        }

        function close_add_product_form()
        {
            var add_product_form = document.getElementById("form-add-product");
            add_product_form.style.display="none";

        }
    </script>

{% endblock %}