{% extends 'company/company_base.html' %}
{% load static %}

{% block title_block %}
    Product detail
{% endblock %}

{% block body_block %}

    <div class="container">

        <form id="form-add-product" method="POST" action="{% url 'company:company_product_detail' company_name=company_name product_id=product.id %}">

            {% csrf_token %}
            <p class="lead">Update the details if required</p>

            <div class="form-group">
              <label for="product name">Product name</label>
              <input type="text" name="product name" id="product name" class="form-control" placeholder="Product name" value="{{product.product_name}}">              
            </div>

            <div class="form-group">
                <label for="product distributor price">Product distributor price</label>
                <input type="text" name="product distributor price" id="product distributor price" class="form-control" placeholder="Product distributor price" value="{{product.product_distributor_price}}">              
            </div>

            <div class="form-group">
                <label for="product mrp">Product MRP</label>
                <input type="text" name="product mrp" id="product mrp" class="form-control" placeholder="Product mrp" value="{{product.product_mrp}}">              
            </div>

            <div class="form-group">
                <label for="product tax">Product tax</label>
                <input type="text" name="product tax" id="product tax" class="form-control" placeholder="Product tax" value="{{product.product_tax}}">              
            </div>

            <div class="form-group">
                <label for="product discount">Product discount</label>
                <input type="text" name="product discount" id="product discount" class="form-control" placeholder="Product discount" value="{{product.product_discount}}">              
            </div>

            <button type="submit" class="btn btn-lg btn-warning">UPDATE PRODUCT</button>
            <button class="btn btn-lg btn-danger">CANCEL</button>
        </form>


    </div>


{% endblock %}