{% extends 'distributor/distributor_base.html' %}
{% load static %}

{% block title_block %}
    Distributor companies
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" href="{% static 'css/company/company_distributors.css' %}">
    <div class="container">
        <h1>
            Exisiting companies
        </h1>
        {% if associated_companies %}
            <div id="company-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in associated_companies %}
                            <tr>
                                <td scope="row">{{company.company_name}}</td>
                                <td>{{company.email}}</td>
                                <td>{{company.mobile}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>    
               
{% endblock %}